<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dt.utils.mapper.UtilsEncodeDecodeMapper" >
  <resultMap id="BaseResultMap" type="com.dt.utils.model.UtilsEncodeDecode" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="base64" property="base64" jdbcType="VARCHAR" />
    <result column="base64_base64" property="base64Base64" jdbcType="VARCHAR" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
    <result column="md5_md5" property="md5Md5" jdbcType="VARCHAR" />
    <result column="md5_md5_md5" property="md5Md5Md5" jdbcType="VARCHAR" />
    <result column="md5_base64" property="md5Base64" jdbcType="VARCHAR" />
    <result column="base64_md5" property="base64Md5" jdbcType="VARCHAR" />
    <result column="sha1" property="sha1" jdbcType="VARCHAR" />
    <result column="sha1_sha1" property="sha1Sha1" jdbcType="VARCHAR" />
    <result column="md5_sha1" property="md5Sha1" jdbcType="VARCHAR" />
    <result column="sha1_md5" property="sha1Md5" jdbcType="VARCHAR" />
    <result column="sha1_base64" property="sha1Base64" jdbcType="VARCHAR" />
    <result column="base64_sha1" property="base64Sha1" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>